<div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-department-name"
data-lists-values='["js-lists-values-department-name", 
                    "js-lists-values-course-number",
                    "js-lists-values-school-name"]'>

<div class="card-header">

    <div class="search-form">

        <input type="text"
            class="form-control search"
            placeholder="Search ...">

        <button class="btn"
        type="button"><i class="material-icons">search</i>
        </button>

    </div>

</div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th style="width: 18px;" class="pr-0">
                
                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                        class="custom-control-input js-toggle-check-all"
                        data-target="#departments"
                        id="customCheckAlldepartments"
                    >

                    <label class="custom-control-label"
                        for="customCheckAlldepartments"><span class="text-hide">Toggle all</span>
                    </label>

                </div>

            </th>
            
            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-department-name">Department Name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-course-number">Available Courses
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-school-name">School
                </a>

            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a>Functions</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="departments">

        <!-- User 1 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_departments1">

                    <label class="custom-control-label"
                           for="customCheck1_departments1"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-department-name">Business</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-center js-lists-values-course-number ">10</td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">Harvard University</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 1 -->

        <!-- User 2 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_departments2">

                    <label class="custom-control-label"
                           for="customCheck1_departments2"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-department-name">Economic</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-center js-lists-values-course-number ">17</td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Economics</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 2 -->

        <!-- User 3 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_departments3">

                    <label class="custom-control-label"
                           for="customCheck1_departments"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values--department-name">Information & Techonology</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-center js-lists-values-course-number small">20</td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Greenwich</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- //END User 3 -->

    </tbody>

</table>

</div>