<div class="tab-pane"
id="sm_account_1">
<div class="sidebar-heading">Account</div>
<ul class="sidebar-menu">
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="edit-account.html">
           <span class="sidebar-menu-text">Edit Account</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing.html">Billing</a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing-history.html">Payments</a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="login.html">Logout</a>
   </li>
</ul>
</div>