<div class="tab-pane "
id="sm_apps">
<div class="sidebar-heading">Apps</div>
<ul class="sidebar-menu">
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button js-sidebar-collapse"
          data-toggle="collapse"
          href="#enterprise_menu">
           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">donut_large</span>
           Enterprise
           <span class="ml-auto sidebar-menu-toggle-icon"></span>
       </a>
       <ul class="sidebar-submenu collapse sm-indent"
           id="enterprise_menu">
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="erp-dashboard.html">
                   <span class="sidebar-menu-text">ERP Dashboard</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="crm-dashboard.html">
                   <span class="sidebar-menu-text">CRM Dashboard</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="hr-dashboard.html">
                   <span class="sidebar-menu-text">HR Dashboard</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="employees.html">
                   <span class="sidebar-menu-text">Employees</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="staff.html">
                   <span class="sidebar-menu-text">Staff</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="leaves.html">
                   <span class="sidebar-menu-text">Leaves</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button disabled"
                  href="departments.html">
                   <span class="sidebar-menu-text">Departments</span>
               </a>
           </li>
           <!-- <li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="documents.html">
<span class="sidebar-menu-text">Documents</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="attendance.html">
<span class="sidebar-menu-text">Attendance</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="recruitment.html">
<span class="sidebar-menu-text">Recruitment</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="payroll.html">
<span class="sidebar-menu-text">Payroll</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="training.html">
<span class="sidebar-menu-text">Training</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="employee-profile.html">
<span class="sidebar-menu-text">Employee Profile</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="accounting.html">
<span class="sidebar-menu-text">Accounting</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="inventory.html">
<span class="sidebar-menu-text">Inventory</span>
</a>
</li> -->
       </ul>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          data-toggle="collapse"
          href="#community_menu">
           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
           Community
           <span class="ml-auto sidebar-menu-toggle-icon"></span>
       </a>
       <ul class="sidebar-submenu collapse sm-indent"
           id="community_menu">
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="teachers.html">

                   <span class="sidebar-menu-text">Browse Teachers</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="student-profile.html">

                   <span class="sidebar-menu-text">Student Profile</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="teacher-profile.html">

                   <span class="sidebar-menu-text">Teacher Profile</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="blog.html">

                   <span class="sidebar-menu-text">Blog</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="blog-post.html">

                   <span class="sidebar-menu-text">Blog Post</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="faq.html">
                   <span class="sidebar-menu-text">FAQ</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="help-center.html">
                   <!--  -->
                   <span class="sidebar-menu-text">Help Center</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="discussions.html">
                   <span class="sidebar-menu-text">Discussions</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="discussion.html">
                   <span class="sidebar-menu-text">Discussion Details</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="discussions-ask.html">
                   <span class="sidebar-menu-text">Ask Question</span>
               </a>
           </li>
       </ul>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          data-toggle="collapse"
          href="#productivity_menu">
           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">access_time</span>
           Productivity
           <span class="ml-auto sidebar-menu-toggle-icon"></span>
       </a>
       <ul class="sidebar-submenu collapse sm-indent"
           id="productivity_menu">
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="projects.html">
                   <span class="sidebar-menu-text">Projects</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="tasks-board.html">
                   <span class="sidebar-menu-text">Tasks Board</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="tasks-list.html">
                   <span class="sidebar-menu-text">Tasks List</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button disabled"
                  href="kanban.html">
                   <span class="sidebar-menu-text">Kanban</span>
               </a>
           </li>
           <!-- <li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="task-details.html">
<span class="sidebar-menu-text">Task Details</span>
</a>
</li>
<li class="sidebar-menu-item">
<a class="sidebar-menu-button disabled" href="team-members.html">
<span class="sidebar-menu-text">Team Members</span>
</a>
</li> -->
       </ul>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          data-toggle="collapse"
          href="#cms_menu">
           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">content_copy</span>
           CMS
           <span class="ml-auto sidebar-menu-toggle-icon"></span>
       </a>
       <ul class="sidebar-submenu collapse sm-indent"
           id="cms_menu">
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="cms-dashboard.html">
                   <span class="sidebar-menu-text">CMS Dashboard</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="posts.html">
                   <span class="sidebar-menu-text">Posts</span>
               </a>
           </li>
       </ul>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          data-toggle="collapse"
          href="#ecommerce_menu">
           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">shopping_cart</span>
           eCommerce
           <span class="ml-auto sidebar-menu-toggle-icon"></span>
       </a>
       <ul class="sidebar-submenu collapse sm-indent"
           id="ecommerce_menu">
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button"
                  href="ecommerce.html">
                   <span class="sidebar-menu-text">Shop Dashboard</span>
               </a>
           </li>
           <li class="sidebar-menu-item">
               <a class="sidebar-menu-button disabled"
                  href="edit-product.html">
                   <span class="sidebar-menu-text">Edit Product</span>
               </a>
           </li>
       </ul>
   </li>
</ul>
</div>