<div class="tab-pane"
id="sm_layouts">
<div class="sidebar-heading">Layouts</div>
<ul class="sidebar-menu">
   <li class="sidebar-menu-item active">
       <a class="sidebar-menu-button"
          href="../Compact_App_Layout/shell.html">
           <span class="sidebar-menu-text">Compact</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../Mini_App_Layout/shell.html">
           <span class="sidebar-menu-text">Mini</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../Mini_Secondary_Layout/shell.html">
           <span class="sidebar-menu-text">Mini + Secondary</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../App_Layout/shell.html">
           <span class="sidebar-menu-text">App</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../Boxed_App_Layout/shell.html">
           <span class="sidebar-menu-text">Boxed</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../Sticky_App_Layout/shell.html">
           <span class="sidebar-menu-text">Sticky</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="../Fixed_Layout/shell.html">
           <span class="sidebar-menu-text">Fixed</span>
       </a>
   </li>
</ul>
</div>