<!DOCTYPE HTML>
<html>

<head>

	<%- include("../partials/head.ejs") %>
	<!-- Bootstrap min -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> 
		
	<!-- Fontawesome-all min -->
	<link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css"> 
		
	<!-- Iofrm-style -->
	<link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
		
	<!-- Iofrm-theme 17 -->
	<link rel="stylesheet" type="text/css" href="css/iofrm-theme17.css">
		
</head>

<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">

        <%- include("../partials/nav.ejs") %>
        
		<div class="form-body without-side">

			<div class="row">
				<div class="img-holder">
					<div class="bg">
						<img src="images/img_bg_2.jpg" alt="">
					</div>
				</div>
				
				<div class="form-holder">
					<div class="form-content">
						<div class="form-items">
							<h3>Create new account</h3>
							<p>Log in to your account to gain access to a vast library of resources</p>
							<form>
								<input class="form-control" type="text" name="name" placeholder="Full Name" required>
								<input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
								<input class="form-control" type="password" name="password" placeholder="Password" required>
								<div class="form-button">
									<button id="submit" type="submit" class="ibtn">Create</button>
								</div>
							</form>
							<div class="other-links">
								<div class="text">Or sign-up with</div>
								<a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
							</div>
							<div class="page-links">
								<a href="/login">Login to account</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <%- include("../partials/footer.ejs") %>

	</div>

	<!-- js start here -->
	<%- include("../partials/script.ejs") %>
	<!-- Main-log -->
	<script src="js/main-log.js"></script>
	
	<!-- Popper -->
	<script src="js/popper.min.js"></script>

	<!-- js end here -->

</body>
</html>

