<footer id="colorlib-footer">
    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy;
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="/" target="_blank"> Assignment Resources </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>


<!-- js start here -->

<%- include("../partials/script.ejs") %>

<!-- js end here -->