<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div id="colorlib-logo"><a href="/">Assignment Resources</a></div>
                </div>
                <div class="col-md-10 text-right menu-1">
                    <ul>
                        <li class="has-dropdown">
                            <a href="/resources">Resources</a>
                            <ul class="dropdown">
                                <li><a href="/courses-single">Example Resource</a></li>
                                <li><a href="#">By Category</a></li>
                                <li><a href="#">By Name</a></li>
                                <li><a href="#">By School</a></li>
                            </ul>
                        </li>

                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/login">Login</a></li>
                        <li class="btn-cta"><a href="/signup"><span>Get started</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>