<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div id="colorlib-logo"><a href="/">Assignment Index</a></div>
                </div>
                <div class="col-md-10 text-right menu-1">
                    <ul>
                        <li class="has-dropdown">
                            <a href="/resources">Resources</a>
                            <ul class="dropdown">
                                <li><a href="/resources">Search Resource</a></li>
                                <li><a href="/department">Search Department</a></li>
                            </ul>
                        </li>

                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/donation">Donation</a></li>
                        <li class="btn-cta"><a href="/library/view"><span>Dashboard</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>