<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, page not found!
  </div>

  <%- include("./partials/footer.ejs") %>

</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- Js start -->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
      <!-- Count To -->
      <script src="/js/jquery.countTo.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/js/jquery.stellar.min.js"></script>
    <!-- Flexslider -->
    <script src="/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/magnific-popup-options.js"></script>
    <!-- Counters -->
    <script src="/js/jquery.countTo.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="/js/google_map.js"></script> 
    <!-- Main -->
    <script src="/js/main.js"></script>
      <!-- Modernizer JS -->
      <script src="/js/modernizr-2.6.2.min.js"></script>
      <!-- Popper -->
      <script src="/js/popper.min.js"></script>
      <!-- Respond -->
      <script src="/js/respond.min.js"></script>
  <!-- Js end -->

</body>
</html>