<div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-employee-name"
data-lists-values='["js-lists-values-name", 
                    "js-lists-values-status", 
                    "js-lists-values-activity", 
                    "js-lists-values-earnings"]'>

<div class="card-header">

    <div class="search-form">
                    
        <input type="text"
            class="form-control search"
            placeholder="Search ...">
                    
        <button class="btn"
            type="button"><i class="material-icons">search</i>
        </button>
                    
    </div>
                        
</div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-name">Name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-status">Type
                </a>

            </th>

            <th>

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-activity">Last Donation
                </a>

            </th>

            <th>

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-earnings">Amount
                </a>

            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a>Function</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="donation">

        <!-- User 1 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <img src="../dashboard/images/people/110/guy-1.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">Michael Smith</strong></p>
                           <small class="js-lists-values-email text-50">michael.smith@yahoo.com</small>
                        </div>

                    </div>

                </div>

            </td>


            <td>

               <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Admin</a>

            </td>

           <td class="text-50 js-lists-values-activity small">3 days ago</td>

           <td class="js-lists-values-earnings small">$12,402</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- // END User 1 -->

        <!-- User 2 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                   <div class="avatar avatar-sm mr-8pt">

                       <span class="avatar-title rounded-circle">CS</span>

                   </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">Connie Smith</strong></p>
                           <small class="js-lists-values-email text-50">connie.smith@yahoo.com</small>
                        </div>

                    </div>

                </div>

            </td>

            <td>

               <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Student</a>

            </td>

            <td class="text-50 js-lists-values-activity small">1 week ago</td>

            <td class="js-lists-values-earnings small">$1,943</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- // END User 2 -->

        <!-- User 3 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                        <img src="../dashboard/images/people/110/guy-2.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">John Connor</strong></p>
                           <small class="js-lists-values-email text-50">john.connor@yahoo.com</small>
                        </div>

                    </div>

               </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Moderator
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">2 weeks ago</td>

            <td class="js-lists-values-earnings small">$1,401</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- //END User 3 -->

        <!-- User 4 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <span class="avatar-title rounded-circle">LB</span>

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">Laza Bogdan</strong></p>
                           <small class="js-lists-values-email text-50">laza.bogdan@yahoo.com</small>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Tutor
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">3 weeks ago</td>

            <td class="js-lists-values-earnings small">$22,402</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- // END User 4 -->

        <!-- User 5 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                        <img src="../dashboard/images/people/110/guy-2.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">James Bohnd</strong></p>
                           <small class="js-lists-values-email text-50">james.bohnd@yahoo.com</small>
                        </div>

                    </div>

               </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Student
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">2 months ago</td>

            <td class="js-lists-values-earnings small">$6,420</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- //END User 5 -->

        <!-- User 6 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <span class="avatar-title rounded-circle">LV</span>

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">Levis Vokalia</strong></p>
                           <small class="js-lists-values-email text-50">levis.vokalia@yahoo.com</small>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary js-lists-values-status">Admin
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">5 days ago</td>

            <td class="js-lists-values-earnings small">$69,420</td>

            <td class="text-center pl-0">
                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>
            </td>

        </tr>
        <!-- // END User 6 -->

    </tbody>

</table>
</div>