<div class="navbar navbar-expand pr-0 navbar-light border-bottom-2" id="default-navbar" data-primary>
  <!-- Navbar Brand -->

  <h2>Dashboard</h2>

  <!-- // END Navbar Brand -->

  <div class="flex"></div>
  
</div>
