<div
  class="sidebar sidebar-mini sidebar-dark-pickled-bluewood sidebar-left d-flex flex-column"
>
  <!-- Brand -->
  <div
    class="flex d-flex flex-column justify-content-start"
    data-perfect-scrollbar
  >
    <li
      class="sidebar-menu-item"
      data-title="Account"
      data-placement="right"
      data-container="body"
      data-boundary="window"
    >
      <a
        class="sidebar-menu-button"
        href="/"
        data-toggle="tab"
        role="tab"
        aria-controls="sm_account"
      >
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
          >home</i
        >
        <span class="sidebar-menu-text">Home</span>
      </a>
    </li>
    <li
      class="sidebar-menu-item"
      data-title="Student"
      data-placement="right"
      data-boundary="window"
    >
      <a
        class="sidebar-menu-button"
        href="/resources/view"
        data-toggle="tab"
        role="tab"
        aria-controls="sm_student"
        aria-selected="true"
      >
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
          >school</i
        >
        <span class="sidebar-menu-text">Resources</span>
      </a>
    </li>
    <li
      class="sidebar-menu-item"
      data-title="Instructor"
      data-placement="right"
      data-container="body"
      data-boundary="window"
    >
      <a
        class="sidebar-menu-button"
        href="/departments/view"
        data-toggle="tab"
        role="tab"
        aria-controls="sm_instructor"
        aria-selected="false"
      >
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
          >folder</i
        >
        <span class="sidebar-menu-text">Departments</span>
      </a>
    </li>
    <li
      class="sidebar-menu-item"
      data-title="Instructor"
      data-placement="right"
      data-container="body"
      data-boundary="window"
    >
      <a
        class="sidebar-menu-button"
        href="/donations/view"
        data-toggle="tab"
        role="tab"
        aria-controls="sm_instructor"
        aria-selected="false"
      >
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
          >attach_money</i
        >
        <span class="sidebar-menu-text">Donations</span>
      </a>
    </li>
    <li
      class="sidebar-menu-item"
      data-title="Apps"
      data-placement="right"
      data-container="body"
      data-boundary="window"
    >
      <a
        class="sidebar-menu-button"
        href="/library/view"
        data-toggle="tab"
        role="tab"
        aria-controls="sm_apps"
      >
        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons"
          >apps</i
        >
        <span class="sidebar-menu-text">Library</span>
      </a>
    </li>
  </div>
</div>
