<div class="tab-pane "
id="sm_account">
<div class="sidebar-heading">Account</div>
<ul class="sidebar-menu">
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="pricing.html">
           <span class="sidebar-menu-text">Pricing</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="login.html">
           <span class="sidebar-menu-text">Login</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="signup.html">
           <span class="sidebar-menu-text">Signup</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="signup-payment.html">
           <span class="sidebar-menu-text">Payment</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="reset-password.html">
           <span class="sidebar-menu-text">Reset Password</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="change-password.html">
           <span class="sidebar-menu-text">Change Password</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="edit-account.html">
           <span class="sidebar-menu-text">Edit Account</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="edit-account-profile.html">
           <span class="sidebar-menu-text">Profile &amp; Privacy</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="edit-account-notifications.html">
           <span class="sidebar-menu-text">Email Notifications</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="edit-account-password.html">
           <span class="sidebar-menu-text">Account Password</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing.html">
           <span class="sidebar-menu-text">Subscription</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing-upgrade.html">
           <span class="sidebar-menu-text">Upgrade Account</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing-payment.html">
           <span class="sidebar-menu-text">Payment Information</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing-history.html">
           <span class="sidebar-menu-text">Payment History</span>
       </a>
   </li>
   <li class="sidebar-menu-item">
       <a class="sidebar-menu-button"
          href="billing-invoice.html">
           <span class="sidebar-menu-text">Invoice</span>
       </a>
   </li>
</ul>
</div>