<div class="bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="measure-lead-max text-50 small mr-8pt">Assignment Index is the place where you can find your needed assignment resources.</p>
        <p class="text-50 small mt-n1 mb-0">Copyright 2021 &copy; All rights reserved.</p>
    </div>
</div>