<div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-employee-name"
data-lists-values='["js-lists-values-employee-name", "js-lists-values-employer-name", "js-lists-values-projects", "js-lists-values-activity", "js-lists-values-earnings"]'>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th>

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-employee-name">Employee
                </a>

            </th>

            <th style="width: 37px;">Type
                
                <a href="javascript:void(0)"
                    class="sort"
                    data-sort="js-lists-values-employee-name">Employee
                </a>
            </th>

            <th style="width: 120px;">

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-activity">Last Donation
                </a>

            </th>

            <th style="width: 51px;">

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-earnings">Amount
                </a>

            </th>

            <th style="width: 24px;"
               class="pl-0">
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="users">

        <!-- User 1 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <img src="../dashboard/images/people/110/guy-1.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-employee-name">Michael Smith</strong></p>
                           <small class="js-lists-values-employee-email text-50"></small>
                        </div>

                    </div>

                </div>

            </td>


            <td>

               <a href=""
                  class="chip chip-outline-secondary">Admin</a>

            </td>

           <td class="text-50 js-lists-values-activity small">3 days ago</td>

           <td class="js-lists-values-earnings small">$12,402</td>

            <td class="text-right pl-0">
               <a href=""
                  class="text-50"><i class="material-icons">more_vert</i></a>
            </td>

        </tr>
        <!-- // END User 1 -->

        <!-- User 2 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                   <div class="avatar avatar-sm mr-8pt">

                       <span class="avatar-title rounded-circle">CS</span>

                   </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-employee-name">Connie Smith</strong></p>
                           <small class="js-lists-values-employee-email text-50"></small>
                        </div>

                    </div>

                </div>

            </td>

            <td>

               <a href=""
                  class="chip chip-outline-secondary">Student</a>

            </td>

            <td class="text-50 js-lists-values-activity small">1 week ago</td>

            <td class="js-lists-values-earnings small">$1,943</td>

            <td class="text-right pl-0">
                <a href=""
                  class="text-50"><i class="material-icons">more_vert</i></a>
            </td>

        </tr>
        <!-- // END User 2 -->

        <!-- User 3 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                        <img src="../dashboard/images/people/110/guy-2.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-employee-name">John Connor</strong></p>
                           <small class="js-lists-values-employee-email text-50"></small>
                        </div>

                    </div>

               </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary">Moderator
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">2 weeks ago</td>

            <td class="js-lists-values-earnings small">$1,401</td>

            <td class="text-right pl-0">

                <a href=""
                  class="text-50"><i class="material-icons">more_vert</i>
                </a>

           </td>

        </tr>
        <!-- //END User 3 -->

        <!-- User 4 -->
        <tr>

            <td>

                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <span class="avatar-title rounded-circle">LB</span>

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-employee-name">Laza Bogdan</strong></p>
                           <small class="js-lists-values-employee-email text-50"></small>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <a href=""
                  class="chip chip-outline-secondary">Tutor
                </a>

            </td>

            <td class="text-50 js-lists-values-activity small">3 weeks ago</td>

            <td class="js-lists-values-earnings small">$22,402</td>

            <td class="text-right pl-0">

                <a href=""
                  class="text-50"><i class="material-icons">more_vert</i>
                </a>

            </td>

        </tr>
        <!-- // END User 4 -->

    </tbody>

</table>
</div>