<div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-resource-name"
data-lists-values='["js-lists-values-resource-name", 
                    "js-lists-values-course-name",
                    "js-lists-values-school-name",
                    "js-lists-values-resource-status",
                    "js-lists-values-resource-date",
                    "js-lists-values-resource-type"]'>

<div class="card-header">

    <div class="search-form">

        <input type="text"
            class="form-control search"
            placeholder="Search ...">

        <button class="btn"
        type="button"><i class="material-icons">search</i>
        </button>

    </div>

</div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th style="width: 18px;" class="pr-0">
                
                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                        class="custom-control-input js-toggle-check-all"
                        data-target="#resources"
                        id="customCheckAllresources"
                    >

                    <label class="custom-control-label"
                        for="customCheckAllresources"><span class="text-hide">Toggle all</span>
                    </label>

                </div>

            </th>
            
            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-resource-name">Resource Name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-course-name">Course
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-school-name">School
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-resource-status">Upload Status
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-resource-date">Upload Date
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-resource-type">Type
                </a>

            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a>Functions</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="resources">

        <!-- User 1 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_resources1">

                    <label class="custom-control-label"
                           for="customCheck1_resources1"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-name">Introduction to Psychology</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-course-name">PSY 203</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">Harvard University</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <div class="d-flex flex-column">
                    <small class="js-lists-values-resource-status text-50 mb-4pt">Pending</small>
                    <span class="indicator-line rounded bg-warning"></span>
                </div>

            </td>

            <td>
                <small class="js-lists-values-resource-date text-50">20/01/2021</small>
            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-type">Word Document</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 1 -->

        <!-- User 2 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_resources2">

                    <label class="custom-control-label"
                           for="customCheck1_resources2"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-name">Intermediate Guide to Economic</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-course-name">ECO 203</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Economics</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <div class="d-flex flex-column">
                    <small class="js-lists-values-resource-status text-50 mb-4pt">Approved</small>
                    <span class="indicator-line rounded bg-primary"></span>
                </div>

            </td>

            <td>
                <small class="js-lists-values-resource-date text-50">21/01/2021</small>
            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-type">PDF Document</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 2 -->

        <!-- User 3 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_resources3">

                    <label class="custom-control-label"
                           for="customCheck1_resources3"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-name">Advanced Steps to UX/UI Design</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-course-name">COMP 1768</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Greenwich</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>

                <div class="d-flex flex-column">
                    <small class="js-lists-values-resource-status text-50 mb-4pt">Rejected</small>
                    <span class="indicator-line rounded bg-danger"></span>
                </div>

            </td>

            <td>
                <small class="js-lists-values-resource-date text-50">20/01/2021</small>
            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-resource-type">PDF Document</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- //END User 3 -->

    </tbody>

</table>

</div>