<div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-school-name"
data-lists-values='["js-lists-values-school-name", 
                    "js-lists-values-address"]'>

<div class="card-header">

    <div class="search-form">

        <input type="text"
            class="form-control search"
            placeholder="Search ...">

        <button class="btn"
        type="button"><i class="material-icons">search</i>
        </button>

    </div>

</div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th style="width: 18px;" class="pr-0">
                
                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                        class="custom-control-input js-toggle-check-all"
                        data-target="#schools"
                        id="customCheckAllschools"
                    >

                    <label class="custom-control-label"
                        for="customCheckAllschools"><span class="text-hide">Toggle all</span>
                    </label>

                </div>

            </th>
            
            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-school-name">School Name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-address">Address
                </a>

            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a href="">Functions</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="schools">

        <!-- User 1 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools1">

                    <label class="custom-control-label"
                           for="customCheck1_schools1"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">Harvard University</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-address">Cambridge, Massachusetts</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 1 -->

        <!-- User 2 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools2">

                    <label class="custom-control-label"
                           for="customCheck1_schools2"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Notre Dame</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-address">Notre Dame, Indiana</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
            
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 2 -->

        <!-- User 3 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools3">

                    <label class="custom-control-label"
                           for="customCheck1_schools3"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Greenwich</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-address">United Kingdom</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
            
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- //END User 3 -->

        <!-- User 4 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools4">

                    <label class="custom-control-label"
                           for="customCheck1_schools4"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">FPT University</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-address">Viet Nam</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
        
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 4 -->

        <!-- User 5 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools5">

                    <label class="custom-control-label"
                           for="customCheck1_schools5"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">FPT Polytechnic College</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-address">Viet Nam</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
        
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- //END User 5 -->

        <!-- User 6 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_schools6">

                    <label class="custom-control-label"
                           for="customCheck1_schools6"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-school-name">University of Economics</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-address">Viet Nam</strong></p>
                        </div>

                    </div>

                </div>

            </td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
            
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>
            
        </tr>
        <!-- // END User 6 -->

    </tbody>

</table>
</div>